.list-container {
  display: flex;
  justify-content: center;
}

.video-grid {
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  gap: 10px;
}

.video-list {
  display: flex;
  flex-direction: column;
}
